*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: verdana;
}
body{
    background: rgb(31, 31, 31)
}

hr{
    border: 1px solid white;
    width: 100%;
}
#all{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -------------------------------------------------------------------------------------------------------------- */
#fondo_grande{
    position: fixed;
    width: 100vw;
    z-index: -1;
    margin: 0px;
}

#main{
    width: auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fondo_pequeno{
    width: 500px;
    position: fixed;
    border-radius: 5px;
    margin-top: 20px;
    z-index: -1;
}
/* -------------------------------------------------------------------------------------------------------------- */
#contenedor{
    border: 3px solid rgba(0, 0, 0, 0.424);
    width: 480px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    background: rgba(13, 255, 0, 0.059);
}
/* -------------------------------------------------------------------------------------------------------------- */
#contenedor_perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#avatar{
    width: 200px;
    border-radius: 10000px;
    border: 1px solid rgba(0, 0, 0, 0.188);
}
#nombre_usuario{
    color: white;
    font-size: 25px;
    font-weight: bold,
}

/* -------------------------------------------------------------------------------------------------------------- */
#contenedor_btn_tabs{
    display: flex;
    justify-content:center;
    gap: 0px;
    width: 100%;
    background: rgba(15, 1, 36, 0.767);
    /* Difuminar ambos lados usando una sola máscara */
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 25%, black 75%, transparent 100%);
    mask-image: linear-gradient(to right, transparent 0%, black 25%, black 75%, transparent 100%);
}
.btn_tab{
    background: transparent;
    color: white;
    padding: 15px;
    border: none;
    font-size: 20px;
    cursor:pointer;
    border: 2px solid transparent;
}
.btn_tab:hover{
    background: rgb(33, 33, 93);
    border: 2px solid rgb(69, 187, 214);
    box-shadow: inset 0px 0px 5px rgb(69, 187, 214);
    font-size: 22px;
    padding: 13px;
    border-radius: 2px;
}
.btn_tab_seleccionado{
    border-bottom: 2px solid white;
}

/* -------------------------------------------------------------------------------------------------------------- */
#contenedor_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    display: none;
}

.link{
    background: rgba(15, 3, 49, 0.656);
    color: white;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
}
.link:hover{
    background: rgb(64, 64, 107);
    color: black;
    box-shadow: 0px 0px 20px rgb(46, 217, 232);
    border: 1px solid rgb(252, 239, 174);
}

.imagen_link{
    height: 40px;
}

.texto_link{
    text-decoration: none;
    font-size: 18px;
}

/* -------------------------------------------------------------------------------------------------------------- */
#contenedor_featured{
    width: 100%;
    display: none;
}
#video_destacado{
    width: 100%;
    height: 250px;
    border: none;
    border-radius: 5px;
}
/* -------------------------------------------------------------------------------------------------------------- */
#contenedor_about_me{
    background: rgba(0, 0, 0, 0.647);
    width: 100%;
    border-radius: 5px;
    display: none;
    flex-direction: column;
}
#about_me{
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

#contendor_app{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.216);
    justify-content: center;
    padding-top: 20px;
}
#contenedor_app_iconos{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.app_icono{
    height: 30px;
    width: 30px;
}


/* -------------------------------------------------------------------------------------------------------------- */
#contenedor_enviar_mensaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
    text-align: center;
    gap: 5px;
}

#enviar_mensaje_titulo{
    font-size: 25px;
    font-family: verdana;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    border-right: 2px solid white; /* Cursor */
    animation: escribirBorrar 6s steps(16) infinite; /* 20 pasos = 20 caracteres */
}

/* Un solo ciclo que escribe y borra */
@keyframes escribirBorrar {
0%   { width: 0ch; }
40%  { width: 16ch; } /* Escribe */
60%  { width: 16ch; } /* Pausa */
100% { width: 0ch; }  /* Borra */
}
/* Animación: mover hacia arriba y volver
@keyframes saltar {
0%, 100% {
    transform: translateY(0);
}
50% {
    transform: translateY(-15px);
}
}
*/

#email{
    width: 100%;
    border: 1px solid transparent;
    background: rgba(4, 4, 38, 0.606);
    color: white;
    height: 40px;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
}
#email:focus{
    border: 1px solid rgb(113, 113, 238);
    box-shadow: 0px 0px 15px rgb(113, 113, 238);
    background: rgb(4, 4, 38)
}
.wrong_email{
    box-shadow: 0px 0px 10px 5px rgb(255, 0, 0);
    border: 30px solid rgb(255, 0, 0);
    
}
.wrong_email:focus{
    box-shadow: 0px 0px 15px rgb(255, 0, 0);
    border: 30px solid white;
}
#wrong_email_warning{
    color: red;
    font-size: 20px;
    display: none;
}
#mensaje{
    width: 100%;
    background: rgba(4, 4, 38, 0.606);
    color: white;
    height: 100px;
    border: 1px solid transparent;
    text-align: center;
}
#mensaje:focus{
    box-shadow: 0px 0px 15px rgb(113, 113, 238);
    border: 1px solid rgb(113, 113, 238);
    background: rgb(4, 4, 38)
}
#empty_message{
    display: none;
}

#send{
    width: 100px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    border-radius: 5px;
    background: rgba(4, 4, 38, 0.606);
    border: none;
    color: white;
    cursor: pointer;
    border: 1px solid transparent;
    box-shadow: 0px 0px 5px rgba(113, 113, 238, 0.549);
}

#send:hover{
    box-shadow: 0px 0px 15px rgb(113, 113, 238);
    font-size: 25px;
    width: 120px; height: 60px;
    margin: 0px;
    border: 1px solid rgb(113, 113, 238);
    background: rgba(4, 4, 38, 0.902)
}

#mensaje_enviado{
    color: white;
    text-align: center;
    font-size: 20px;
}

